/*!***************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./css/CTAButton.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

#demoButton {
  background: linear-gradient(90deg, #d06283, #82334b);

  /* background-size: 1px 240px; */
  border-radius: 20px;
  border: none;
  cursor: pointer;
  width: 120px;
  height: 40px;
  color: white;
  margin: 0 0.5rem;
}
#demoButton:hover {
  /* background-position: 100px; */
}

#contactButton {
  /* background-size: 1px 240px; */
  border-radius: 20px;
  border: 1px solid #762e3f;
  cursor: pointer;
  width: 120px;
  height: 40px;
  color: #d06283;
  margin: 0 0.5rem;
}
#contactButton:hover {
  background: linear-gradient(90deg, #d06283, #82334b);
  color: white;
  border: none;
  /* background-position: 100px; */
}

